<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Shubham shukla</title>
  </head>
  <body>
    {{> header}}
    <h3>Shubham Shukla</h3>
    <p>Hi everyone this is shubham from varansi.</p>
    {{> footer}}
  </body>
</html>
